<h2> User name with posts </h2>

<div class = 'user-content'> 
<div class = 'user'>
<div class = "image-placeholder"><img src="<%= @user.photo %>" alt="Profile Picture"></div>

<div class = 'user-block'>
 <h3><%= @user.name %></h3>
   <p > Number of posts: <%= @user.posts.count%> </p>
 </div>
</div>
 <div class ='user-bio'>
 <p><strong>Bio </strong> </p>
 <p> <%= @user.bio %> </p>
  </div>
  <div class = 'posts-content'>
     <% @first_three_posts.each do |post|%>
   <%= render partial: 'posts/post', locals: { post: post } %>
     <%end%>
   </div>

   <button> <%= link_to 'See all posts', user_posts_path(@user) %> </button>
<div>