<h2> details of a post </h2>
<div class = 'user-post'>
     <div class = 'post-content'> 
   <p class = 'post'>  <strong> <%= @post.title %> </strong>      <span class = 'counters'> Comments: <%= @post.comments_counter.to_i > 0 ? @post.comments_counter : '0'  %> Likes : <%= @post.likes_counters.to_i > 0 ? @post.likes_counters : '0'%>  </span> 
    </p>
     <p> <%= @post.text%> </p>
     </div>
     <div class='comments-content'>
     <p><strong> Comments :</strong> </p>
     <% @post.comments.each do |comment|%>
      <%= render partial: 'comment', locals: { comment: comment } %>
     <%end%>
     </div>
     </div>

     <button> <%= link_to 'Add Comment', new_user_post_comment_path(user_id: @current_user.id, post_id: @post.id) %> </button>